<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/chat.css" rel="stylesheet" type="text/css">
    </link>
    <title>Chat</title>
</head>
<body>
    <div id="chat-container">
        <div id="chat-header">
            <h2 id="current-person">Chatting with: Person 1</h2>
        </div>
        <div class="dropdown">
            <span id="selected-person" class="dropdown-item" onclick="toggleDropdown()">Person 1</span>
            <div id="dropdown-content" class="dropdown-content">
            </div>
        </div>
        <div id="chat-messages"></div>
        <input type="text" id="message-input" placeholder="Type a message...">
        <button id="send-button" onclick="sendMessage()">Send</button>
    </div>

    <script src="/static/js/chat.js"></script>

</body>
</html>

