<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
</head>
<body>
    <h1>WebSocket Chat</h1>
    <h2>Your ID: <span id="ws-id"></span></h2>
    <span></span>
    <input type="text" placeholder="Receiver Id" id="receiver"/>
    <form action="" onsubmit="sendMessage(event)">
        <input type="text" id="messageText" autocomplete="off"/>
        <button>Send</button>
    </form>
    <ul id='messages'>
    </ul>
    <script>
        const receiver = document.getElementById("receiver");
        var token = localStorage.getItem('token');
        var ws;

        function initWebSocket() {
            ws = new WebSocket(`ws://localhost:8000/ws/${receiver.value}?token=${token}`);
            ws.onmessage = function(event) {
                var messages = document.getElementById('messages');
                var message = document.createElement('li');
                var content = document.createTextNode(event.data);

                message.appendChild(content);
                messages.appendChild(message);
            };
            ws.onerror = function(event){
                window.location.href = 'http://localhost:8000/Login'
            }
        }

        function sendMessage(event) {
            var sendMessage = {
                'message': document.getElementById("messageText").value
        
            };

            ws.send(JSON.stringify(sendMessage));
            document.getElementById("messageText").value = '';
            event.preventDefault();

            
        }

       
        // Initialize WebSocket when the page loads
        initWebSocket();

        // Update WebSocket URL when the receiver value changes
        receiver.addEventListener('change', function() {
            ws.close();  // Close the existing connection
            initWebSocket();  // Initialize a new connection with the updated URL
        });
    </script>
</body>
</html>
