<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/chat.css" rel="stylesheet" type="text/css">
    <title>Chat</title>
</head>

<body>
    <div id="input">
        <h1>Unique Chat</h1>
        <h2>Your ID: <span id="ws-id"></span></h2>
        <form action="" onsubmit="sendMessage(event)">
            <input type="text" id="messageText" autocomplete="off" />
            <button id="send-button">Send</button>
        </form>
    </div>
    
    <div id="conversation" class="conversation-container"></div>
    <script src="/static/js/chat.js"></script>
</body>

</html>