<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/login.css" rel="stylesheet" type="text/css">
    <title>forget?</title>
</head>

<body>
    <div class="center">
        <h1>Forget?</h1>
        <form method="post">
            <div class="txt_field" id="email">
                <input name="email" type="text" required>
                <span></span>
                <label>Email</label>
            </div>
            <div class="txt_field" id="OTP">
                <input name="OTP" type="text" required>
                <span></span>
                <label>OTP</label>
            </div>
            <div class="txt_field" id="newPassword">
                <input name="password" type="password" required>
                <span></span>
                <label>New Password</label>
            </div>
            <input type="submit" value="Next" id="input">
            <div class="signup_link">
                Not have an account? <a href="#">Signup</a>
            </div>
            <div class="warning" id="warning">
                <small id="warningMessage"></small>
                <button id="closeButton">Close</button>
            </div>
        </form>
    </div>

    <script src="/static/js/forget.js"></script>
</body>

</html>