<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .form1 input{
            display: block;
            padding: 10px;
            margin-bottom: 10px;
            font-size: 16px;
        }
        button{
            width: 80%;
            height: 30px;
        }
        .warning{
            display: none;
            color: white;
            background-color: rgb(230, 116, 116);
            opacity: 80%;
            padding: 3px;
            margin-bottom: 3px;
            width: 30%;
        }

    </style>
</head>
<body>
    <small class="warning">invalid username and password</small>
    <form class="form1">
        <input type="text" placeholder="Email" name="username">
        <input  type="password" placeholder="password" name="password">
        <button type="submit">Log in</button>

    </form>
    
    <script>
        let formEl = document.querySelector('.form1');
        let warning = document.querySelector('.warning')
        formEl.addEventListener('submit', event => {
            event.preventDefault();

            let formData = new FormData(formEl)
            let data = new URLSearchParams(formData)
            fetch('http://127.0.0.1:8000/login', {
                method: 'POST',
                body: data

            }).then(res => res.json())
                .then(data => {
                    if (data.access_token) {
                        localStorage.setItem('token', data.access_token)
                    } else {
                        warning.style.display = 'block'
                    }
                }).catch(error => console.log(error))
        })
    </script>
</body>
</html>