<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/login.css" rel="stylesheet" type="text/css">
    <title>Create account</title>
</head>

<body>
    <div class="center">
        <h1 id="header">Login</h1>
        <form method="post" id="form">
            <div class="txt_field" id="username">
                <input name="username" type="text" required>
                <span></span>
                <label>Username</label>
            </div>
            <div class="txt_field" id="email">
                <input name="email" type="text" required>
                <span></span>
                <label>Email</label>
            </div>
            <div class="txt_field" id="OTP">
                <input name="OTP" type="text">
                <span></span>
                <label>OTP</label>
            </div>
            <div class="txt_field" id="newPassword">
                <input name="password" type="password" required>
                <span></span>
                <label>Password</label>
            </div>
            <div class="pass"><button id="forgetPassBtn" type="button">Forgot Password?</button> </div>
            <button class="submit" id="input" type="button">
                <span class="button__text">Login</span>
            </button>
            <div class="signin-up_link">
                <small id="siginUPMessage"> Don't have an account?</small><button class="signin-up_link"
                    id="signinUPButton" type="button"><span id="signin-upButtonTxt"> Signup
                    </span></button>
            </div>
            <div class="warningContainer">
                <div class="warning" id="warning">
                    <small id="warningMessage"></small>
                    <span id="closeButton">&times;</span>
                </div>
            </div>
        </form>
    </div>

    <script src="/static/js/login.js"></script>
</body>

</html>